<!doctype html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Pasatiempos - David Álvarez</title>
    <style type="text/css">
      button {
      font-size: 25px;
      font-weight: bold;
      border: 2px solid gray;
      }
    </style>
  </head>

  <body background="../static/img/background.jpg">
    <h1 align="center">Pasatiempos - David Álvarez</h1>
    <br><br><br><br>
    
    <form action="/grafo">
      <div align="center">
	<button type="submit">GRAFO</button>      	
      </div>
    </form>

    <br><br><br><br>
    <form action="/sudoku">
      <div align="center">
	<button type="submit">SUDOKU</button>
      </div>
    </form>
    
  </body>
</html>
