<!doctype html>
<html>
  <head>
    <title>Grafo - David Álvarez</title>
    <link rel="stylesheet" type="text/css" href="../static/css/grafo.css">
  </head>
  
  <body>
    <h1 align="center">Grafo - David Álvarez</h1>
    
    <form action="/solve">
      <input id="circle" name="0" style="top: 150px; left: 200px;">
      <input id="circle" name="1" style="top: 150px; left: 350px;">
      <input id="circle" name="2" style="top: 250px; left: 275px;">
      <input id="circle" name="3" style="top: 325px; left: 75px;">
      <input id="circle" name="4" style="top: 325px; left: 475px;">
      <input id="circle" name="5" style="top: 375px; left: 200px;">
      <input id="circle" name="6" style="top: 375px; left: 350px;">
      <input id="circle" name="7" style="top: 500px; left: 175px;">
      <input id="circle" name="8" style="top: 500px; left: 400px;">

      <input id="square" name="0" style="top: 180px; left: 275px;" value="16">
      <input id="square" name="1" style="top: 260px; left: 160px;" value="24">
      <input id="square" name="2" style="top: 260px; left: 400px;" value="18">
      <input id="square" name="3" style="top: 340px; left: 275px;" value="12">
      <input id="square" name="4" style="top: 410px; left: 140px;" value="25">
      <input id="square" name="5" style="top: 475px; left: 275px;" value="11">
      <input id="square" name="6" style="top: 410px; left: 420px;" value="19">
    </form>    

    <canvas id="myCanvas" width="500" height="500"></canvas>

    <script src="../static/js/grafo.js"></script>    
  </body>
</html>
