<!doctype html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Pasatiempos - David Álvarez</title>
  </head>

  <body background="../static/img/background.jpg">
    <h1 align="center">Pasatiempos - David Álvarez</h1>
    <br><br><br><br>
    
    <form action="/grafo">
      <button type="submit" style="position: relative; left: 620px;">GRAFO</button>      
    </form>

    <br><br><br><br>
    <form action="/sudoku">
      <button type="submit" style="position: relative; left: 615px;">SUDOKU</button>
    </form>
    
  </body>
</html>
